.Bordered {
  border: 2px inset rgb(0, 0, 0);
  padding: 10px
}

body {
font-family: Arial, Helvetica, sans-serif;
font-size: large;
background-color: antiquewhite;
margin: 40px auto;
max-width: 650px;
line-height: 1.6em;
padding: 0;
text-align: center;
}

a:link {
  color:cornflowerblue;
}

a:visited {
  color:cornflowerblue;
}

h4 {
  color: rgb(0, 0, 0);
  font-size: larger;
}